$stepspanbg:#000;
$stepspan:blue;
$steph3:blue;
$stepactivespanbg:#ddd;
$stepactivespan:red;
$stepactiveh3:red;
.steps{

	.step{
		padding-top:15px;
		p{
			span{
			background:$stepspanbg;
			font-size:12px;
			color:$stepspan;
			padding:11px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 18px 18px 18px 18px;
			-moz-border-radius: 18px 18px 18px 18px;
			-webkit-border-radius: 18px 18px 18px 18px;			
			}
		}
		&.active{
			span{
			background:$stepactivespanbg;
			color:$stepactivespan;
			}
			h3{
			color:$stepactiveh3;
			}

		}
	}
}
.label{
	color: #000;
}
.bggris{
	background: #eee;
	border:solid 1px #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
	hr{
		border-top: 1px solid #000;
	}

}
.form-control{
	margin-bottom: 21px;
}
.space{
	height: 30px;
}
.bqplanes{
	background: #ddd;
	padding-bottom: 40px;
	ul{
		li{
			padding-bottom: 10px;
		}
	}
}
.bqblanco{
	background: #fff;
	bottom: 7px;
    right: 10px;
}
.triangulo {
     width: 0; 
     height: 0; 
    border-left: 48px solid #fff;
    border-top: 39px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    transform: rotate(90deg);
    top: 308px;
    left: 166px;
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #009ee5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #009ee5;
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #fff;
    color: #99a1a7;
    border: 2px solid #009ee5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.regular-radio + label:active,
.regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	border: 2px solid #009ee5;
}