doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de...
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel="stylesheet",href="style.css")
		link(rel="stylesheet",href="../fonts/font.css")
	body
		.callme
			br
			p.text-center Tengo dudas, Llámenme
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-offset-1.col-md-2.step.active
						.ico.registra
						h3.text-center registro
						span
					.col-md-2.step.complete
						.ico.cotiza
						h3.text-center cotiza
						span
					.col-md-2.step
						.ico.valida
						h3.text-center cuestionario
						span
					.col-md-2.step
						.ico.contrata
						h3.text-center contrata
						span
					.col-md-2.step
						.ico.poliza
						h3.text-center póliza
						span
		hr
		h1 registro
		h2.subtitulo REGISTRO
		
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-11
						.col-md-12
							h2.subt Para conocer la opción de 
								span 
									strong Vida 
								|que tenemos para ti, es necesario aceptar el Aviso de privacidad y posteriormente completar los siguientes campos:
							input(type="checkbox",id="checkbox-1" class="regular-checkbox big-checkbox")
							label(for="checkbox-1")
							a#AvPriv(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalAvPriv', data-trigger='hover') Aviso de Privacidad
						.col-md-12
							.col-md-11.text-left
								p.label He leído y conozco el alcance del tratamiento de mis datos personales.
									br
								br
						.col-md-12
							small
								u * Campos obligatorios
							h4 Datos personales
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							input.registro.form-control(type='text', placeholder='Nombre (s)*')
						.col-md-4
							input.registro.form-control(type='text', placeholder='Apellido paterno * ')
						.col-md-4
							input.registro.form-control(type='text', placeholder='Apellido materno *')
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							input.registro.form-control(type='text', placeholder='Correo electrónico *')
						.col-md-4
							//- p.label Fecha de nacimiento*
							input.registro.selector.form-control(type='text', placeholder='Fecha de nacimiento*')
						.col-md-4
							.col-xs-4
								input#day.form-control(type='text', disabled='')
							.col-xs-4
								input#moth.form-control(type='text', disabled='')
							.col-xs-4
								input#year.form-control(type='text', disabled='')
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h4 Suma asegurada		
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							p.label Ingresa la cantidad por la cual te gustaría asegurarte *
								span.ayuda.azul(data-toggle='tooltip', data-html="true", title="", data-placement='right', data-content="jgjg",data-title='Monto mímino $ 50,000.00 <br> Monto máximo $ 500,000.00',class='naranja-tooltip')
						.col-md-4
							input.registro.form-control(type='text', placeholder='$100,000,000.°°')

				.row
					.col-md-offset-1.col-md-10
						.col-md-12.text-center
							button.registro.btn-lg.btn-solid COTIZAR
		// Modal
		#myModalAvPriv.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						h4
							strong	Aviso de privacidad
						h2.subt Seguros BBVA Bancomer, S,A de CV. Grupo Financiero BBVA BAncomer, Montes Urales 620, 2do piso Col.Lomas de Chapultepec, Del.Miguel Hidalgo, 11000, D.F recaba tus datos para verificar tu identidad. El aviso de privacidad Integral actualizado está en cualquiera de nuestras oficinas y en 
							a(target="_BLANK",href="https://www.segurosbancomer.com.mx/seguros/tleu/segurosban/index.jsp") www.segurosbancomer.com.mx
						br

						button.btn-lg.btn-solid.text-center(type='button', data-dismiss='modal') Aceptar
	
		hr
		h1 cotiza
		.container
			.row
				h2.subtitulo COTIZACIÓN
		.container.bgwhite
			form
				.row
					.col-md-12
						h2.subt
							strong Hola XXXXXX
							, ésta es la mejor opción que encontramos para tí:
				.bgazul1.r-row
					.row
						.col-md-offset-1.col-md-10
							h1 Protege a tus seres queridos en caso de que llegues a faltar con:
					br
					.row
						.col-md-offset-1.col-md-7
							h6 - Por fallecimiento:
						.col-md-4
							h5 $250,000.°°
					.row
						.col-md-offset-1.col-md-7
							h6 - Adicionales por muerte accidental
						.col-md-4
							h5 $250,000.°°
					.row
						.col-md-offset-1.col-md-7
							h6 - Por gastos funerarios
						.col-md-4
							h5 $250,000.°°
					.space
					.row
						.col-md-12.text-center
							h4.text-center Ver detalle del producto
					.space
				.row
					br
					.col-md-5.text-right
						p Elige el tipo de plan:
					.col-md-3.text-center
						.radio
							input(type='radio',id="radio",name='tipoPlan',value='Plan-Creciente', class="regular-radio",checked='true')
							label(for='radio')
							label Plan Creciente
					.col-md-3.text-left
						.radio
							input(type='radio',id="radio-1",name='tipoPlan',value='Plan-fijo', class="regular-radio")
							label(for='radio-1')
							label Plan fijo
				.row
					br
					.col-md-12
						.col-md-3.text-right
							h4 Pagos por prima:
							h6 Elige el plan que más te 
								br 
								h6 interesa
						.col-md-9
							.col-md-3
								br
								button.btn.btn-info(type='button') $ 0.00 Mensual
							.col-md-3
								br
								button.btn.btn-info(type='button') $ 0.00 quincenal
							.col-md-3
								br
								button.btn.btn-info(type='button') $ 0.00 Semestral
							.col-md-3
								br
								button.btn.btn-info(type='button') $ 0.00 Anual		
				.space
				.row
					br
					.col-md-6.text-right
						button.btn-lg NO ME INTERESA
					.col-md-6.text-left
						button.btn-lg(type='button', data-toggle='modal', data-target='#myModal') CONTINUAR



		// Modal
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body
						h4
							strong
								¡Buena elección!
						p Para poder continuar y proteger tu informacion es importante que leas y aceptes las politicas de provacidad .
						.checkbox.text-center
							label
								input(type='checkbox')
								a(target="_BLANK",href="#") Aviso de Privacidad
						h5.text-center he leído y conozco el alcance del tratamiento de mis datos personales.

						button.btn-lg aceptar



					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		hr
		h1 cuestionario
		.container
			.row
				h2 CUESTIONARIO
		.container.bgwhite
			.row
				.col-md-12
					p Por favor responde la siguiente pregunta:
					h4 ¿Tienes o has tenido alguna de estas enfermedades?
			form
				.row
					.col-md-offset-7.col-md-2.text-center
						strong NO
					.col-md-2.text-center
						strong SI
				.row
					.col-md-offset-3.col-md-4
						p Cáncer, tumores malignos, leucemia o lupus
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-C1",name='cuestionarioP1',value='no', class="regular-radio",checked='true')		
							label(for='radio-C1')
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-Cp1",name='cuestionarioP1',value='si', class="regular-radio")		
							label(for='radio-Cp1')
				.row
					.col-md-offset-3.col-md-4
						p Aunerisma, trombosis, embolia, derrame cerebral o cardiopatía (infarto o isquemia o arritmia) Efisema pulmonar, bronquitis crónica o tuberculosis.
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-C2",name='cuestionarioP2',value='no', class="regular-radio",checked='true')		
							label(for='radio-C2')
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-Cp2",name='cuestionarioP2',value='si', class="regular-radio")		
							label(for='radio-Cp2')
				.row
					.col-md-offset-3.col-md-4
						p Insuficiencia hepática, cirrosis hepática, hepatitis crónica ("B" o "C"), insuficiencia renal crónica o pancreatitis.
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-C3",name='cuestionarioP3',value='no', class="regular-radio",checked='true')
							label(for='radio-C3')
					.col-md-2
						.radio.text-center
							input(type='radio',id="radio-Cp3",name='cuestionarioP3',value='si', class="regular-radio")		
							label(for='radio-Cp3')
				.row
					br
					.col-md-6.text-right
						button REGRESAR
					.col-md-6.text-left
						button CONTINUAR
				.space
		hr
		h1 contrata
		.container
			.row
				h2 CONTRATAR
		.container.bgwhite
			.row
				.col-md-9
					P Para contratar tu póliza es necesario completar la información que se solicita a continuación:
				.col-md-3.text-right
					p.label No. de cotización
					br
					p.label 123456789A
						.space
					hr
				.col-md-8
					h4 Datos personales
					br
				form
					.col-md-8
						.col-md-6
							.form-group
								p.label Nombre(s)*
								input.form-control(type="text",placeholder="Nombre(s)")
							.form-group
								p.label Segundo apellido*
								input.form-control(type="text",placeholder="Nombre(s)")
						.col-md-6
							.form-group
								p.label Primer apellido*
								input.form-control(type="text",placeholder="Apellido Materno")
						.col-md-6
							.col-md-4
								.form-group
									p.label Genero*
									br
							.col-md-7
								.radio
									p.label
										input(type='radio',id="radio-cs",name='optionsRadios', value='femenino', checked='' class="regular-radio")
										label(for='radio-cs')
										| Femenino
								.radio
									p.label
										input(type='radio',id="radio-cs2",name='optionsRadios', value='masculino',class="regular-radio")		
										label(for='radio-cs2')
										| Masculino
							.space
						.col-md-8
							.form-group
								p Fecha de nacimiento*
								.col-xs-12
									input.selector2.form-control(type='text')
								.col-xs-4
									input#day2.form-control(type='text', disabled='')
								.col-xs-4
									input#moth2.form-control(type='text', disabled='')
								.col-xs-4
									input#year2.form-control(type='text', disabled='')
						.col-md-6
							.form-group
								p.label Pais de nacimiento*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label CURP*
								input.form-control(type="text",placeholder="Nombre(s)")
						.col-md-6
							.form-group
								p.label Entidad de nacimiento*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
						.col-md-8
							h4 Domicilio
						.col-md-8
							.form-inline
							p ¿Deseas recibir tu póliza en el domicilio registrado?
							.col-md-4
								.radio.text-center
									input(type='radio',id="radiopd",name='domicilio',value='si', class="regular-radio",checked='')
									label(for='radiopd')
									label Si
							.col-md-4
								.radio.text-center
									input(type='radio',id="radiopdm",name='domicilio',value='No', class="regular-radio")
									label(for='radiopdm')
									label No
						.col-md-6
							.form-group
								p.label C.P.
								input.form-control(type="text",placeholder="Calle")
							.form-group
								p.label Entidad federativa*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label Delegación o municipio*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label Calle*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label No. Interior*
								input.form-control(type="text",placeholder="No. Interior")
						.col-md-6
							.form-group
								p.label Entidad federativa
								select.form-control
									option(value="opcion-1") Colonia
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label Ciudad*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label Colonia*
								select.form-control
									option(value="opcion-1") Seleccionar
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
							.form-group
								p.label No. Exterior*
								input.form-control(type="text",placeholder="No. Exterior")
							.form-group
								p.label No. teléfonico*
								input.form-control(type="text",placeholder="Telefono")
						.col-md-8
							h4 BENEFICIARIOS
							br
							p Recomendaciones para registrar a tus beneficiarios:
							ul
								li "Revisar rubro"
								li "Revisar rubro"

						.col-md-12
							h4 DATOS BENEFICIARIO 1
						.col-md-6
							.form-group
								p.label Nombre(s)*
								input.form-control(type="text",placeholder="Nombre(s)")
							.form-group
								p.label Segundo apellido*
								input.form-control(type="text",placeholder="Nombre(s)")
							.form-group
								p.label Parentesco*
								select.form-control
									option(value="opcion-1") Selecciona
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
						.col-md-6
							.form-group
								p.label Primer apellido*
								input.form-control(type="text",placeholder="Apellido Materno")
							.form-group
								p.label Porcentaje que le corresponde*
								select.form-control
									option(value="opcion-1") Selecciona
									option(value="opcion-2") b
									option(value="opcion-3") c
									option(value="opcion-4") d
									option(value="opcion-5") e
						.col-md-12
							br
							.col-md-6.text-right
								button CONTINUAR DESPUES
							.col-md-6.text-left
								button(type='button', data-toggle='modal', data-target='#myModal2') CONTINUAR
								.space
					.col-md-4.text-center
							.col-md-10.bqplanes
								h4.text-center Mi cotización
									.space
								.col-md-8.text-right
									h4 Suma asegurada:
								.col-md-4.text-left
									h4 $0,000 
									.space
								.col-md-8.text-right
									p Suma asegurada por fallecimiento:
								.col-md-4.text-left
									p $0,000 
									.space
								.col-md-8.text-right
									p Suma asegurada por muerte accidental:
								.col-md-4.text-left
									p $0,000 
									.space
								.col-md-8.text-right
									p Suma asegurada para gastos funerarios:
								.col-md-4.text-left
									p $0,000 
									.space
								.col-md-12.text-right
									.radio
										p.label
											input(type='radio',id="radioctrt",name='PlanOf', value='Plan', class="regular-radio", checked="")
											label(for='radioctrt')
											label Plan reciente
									.space
								.col-md-8.text-right 
									p Pago por prima:
								.col-md-4.text-left
									p $0000
									p mensual
									.space
									.space
								.col-md-10.text-center
									.col-md-4
										button.btn-lg CAMBIAR COTIZACIÓN
										.space
							.col-md-12.text-center
								.space
								.col-md-10
									button.btn-lg CONTRATAR VIA TELEFÓNICA
			// Modal
		#myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						h4 Te solicitamos que ingreses tu número telefonico y un horario adecuado para contactarte
						.col-md-12.text-center
							.col-md-3
							.col-md-5
								p.label Número telefonico
								input#contrata.form-control(type='text' placeholder='55-98-98-98')
						.col-md-12.text-center
							.col-md-3
							.col-md-5
								p.label Horario a contactar
								input#contrata.form-control(type='text' placeholder='12:00-16:00')						
						button.btn-lg CONTACTARME
					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes


		.container
			.row
				h2 PÓLIZA
		.container.bgwhite
			.row
				.col-md-8
					p
						strong XXXXXX
						, éstos son los datos que vas a registrar para contratar tu seguro y emitir tu Póliza, por favor revisa la información.
				.col-md-3.text-right
					p.label No. de cotización
					br
					p.label 123456789A
			.row
				.col-md-4
					h4 SUMA ASEGURADA:
				.col-md-3
					h4 $0,000
				.col-md-3
					h4 	
				.col-md-2
					h4 
			.row
				.col-md-4
					p Suma asegurada:
				.col-md-3
					p $0,000
				.col-md-3
					p 
				.col-md-2
					p 
			.row
				.col-md-4
					p suma asegurada por fallecimiento:
				.col-md-3
					p $0,000
				.col-md-3 	
					p Suma asegurada por muerte accidental:
				.col-md-2
					p $0,000
			.row
				.col-md-4
					p Suma asegurada para gastos funerarios:
				.col-md-3
					p $0,000
				.col-md-3 
					p Plan creciente:
				.col-md-2
					p Si
			.row
				.col-md-4
					p Prima:
				.col-md-3
					p $0,00- Mensual
				.col-md-3
					p 
				.col-md-2
					p 	
			.space					
			.row
				.col-md-12
					h4 DATOS PERSONALES
			.row
				.col-md-4
					.col-md-6
						p Nombre(s):
						p Fecha de nacimiento:
						p Entidad de nacimiento:
					.col-md-6
						p Jorge
						p 11.12.1980
						p CDMX
				.col-md-4
					.col-md-5
						p Primer apellido: 
						p Género:
						p CURP
					.col-md-7
						p Huerta
						p Masculino
						p AAAA123123123AWEWD!
				.col-md-4
					.col-md-6
						p Segundo apellido:
						p País de nacimiento:
					.col-md-6
						p Sainz
						p México
			.space
			.row
				.col-md-12
					h4 DOMICILIO
			.row
				.col-md-12
					p El domicilio registrado será usado para entregas postales.
			.row
				.col-md-4
					.col-md-6
						p C.P
						p Delegación o municipio:
						p No. Exterior:
					.col-md-6
						p 11320
						p Miguél Hidalgo
						p 319
				.col-md-4
					.col-md-6
						p Entidad federativa:
						p Colonia:
						p No. Interior:
					.col-md-6
						p CDMX
						p Anáhuac
						p 405-B
				.col-md-4
					.col-md-6
						p Ciudad
						p Calle
						p Núm. teléfonico
					.col-md-6
						p México
						p Mariano Escobedo
						p 55000023
			.space
			.row
				.col-md-12
					h4 Beneficiarios
				.col-md-4
					.col-md-12
						p.label Beneficiario 1
					.col-md-6
						p Nombre(s):
						p Primer apellido:
						p Segundo apellido:
						p Parentezco:
						p Porcentaje
					.col-md-6
						p María Eugenia
						p Sainz
						p Díaz
						p Madre
						p 70%
				.col-md-4
					.col-md-12
						p.label Beneficiario 2
					.col-md-6
						p Nombre(s):
						p Primer apellido:
						p Segundo apellido:
						p Parentezco:
						p Porcentaje
					.col-md-6
						p María Eugenia
						p Sainz
						p Díaz
						p Madre
						p 70%
				.col-md-4
					h3 Pago por prima
					h2 $250.00
					h3 mensual
		.container.bqplanes
			form
				.row
					.col-md-12
						h4 COMPRAR
						p Para realizar tu compra y descargar tu póliza, es necesario que ingreses los siguientes datos.
				.row
					.col-md-4
						.col-md-10
							p.label No. de tarjeta*
							input#contrata.form-control(type='text' placeholder='12312341234234123')
					.col-md-4
						.col-md-10
							p.label CVV*
							input#contrata.form-control(type='text' placeholder='000')
					.col-md-4
						.col-md-10
							p.label Tipo de tarjeta*
							select.form-control
								option(value="opcion-1") VISA
								option(value="opcion-2") b
								option(value="opcion-3") c
								option(value="opcion-4") d		
				.row
					.col-md-4
						.space
						.col-md-12
							p.label Fecha de vencimiento*
						.col-md-4
							select.form-control
								option(value="opcion-1") 06
								option(value="opcion-2") b
								option(value="opcion-3") c
								option(value="opcion-4") d
						.col-md-6
							select.form-control
								option(value="opcion-1") 2019
								option(value="opcion-2") b
								option(value="opcion-3") c
								option(value="opcion-4") d
					.col-md-offset-5.col-md-3
						h4 Meses sin intereses:
						.col-md-10
							.radio
								input(type='radio',id="radioMS",name='MeseSinIntereses',value='3meses', class="regular-radio",checked='true')
								label(for='radioMS')
								label  3 Meses
							.radio
								input(type='radio',id="radioMS2",name='MeseSinIntereses',value='6meses', class="regular-radio")
								label(for='radioMS2')
								label  6 Meses
							.radio
								input(type='radio',id="radioMS3",name='MeseSinIntereses',value='9meses', class="regular-radio")
								label(for='radioMS3')
								label  9 Meses
							.radio
								input(type='radio',id="radioMS4",name='MeseSinIntereses',value='12meses', class="regular-radio")
								label(for='radioMS4')
								label 12 Meses
				.space
				.row
					.col-md-4.text-center
						button SEGUIR DESPUES
					.col-md-4.text-center
						button NO ME INTERESA
					.col-md-4.text-center
						button(type='button', data-toggle='modal', data-target='#myModal3') PAGAR
		// Modal
		#myModal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						h4
							strong
								¡Parece que tenemos un problema!
						p No pudimos realizar el cobro, porfavor verifica los datos de tu tarjeta o consulta el saldo disponible.

						button.btn-lg revisar



					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		hr
		h1 poliza
		.container.bgwhite
			.triangulo
			.row
				.col-md-12.text-center
					//- img(src="", alt="")
					h2 ¡Ya estas protegido!
					.space
					h3 Tu compra se ha realizado sin problemas y tu PÓLIZA se ha generado correctamente.
					.space
					h2 PÓLIZA NO. 24689012
					.space
			.space
			.row
				.col-md-6.text-right
					button ENVIAR POR MAIL
				.col-md-6.text-left
					button DESCARGAR PDF
			.space
			.space
			.space
		hr

		


	script(src="http://code.jquery.com/jquery.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="../js/app.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")