doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de Vida
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel="stylesheet",href="style.css")
		link(rel="stylesheet",href="../fonts/font.css")
	body
		.callme
			br
			p.text-center Tengo dudas, Llámenme
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-offset-1.col-md-2.step.active
						.ico.registra
						h3.text-center Registra
						span
					.col-md-2.step.complete
						.ico.cotiza
						h3.text-center Cotiza
						span
					.col-md-2.step
						.ico.valida
						h3.text-center Valida
						span
					.col-md-2.step
						.ico.contrata
						h3.text-center Contrata
						span
					.col-md-2.step
						.ico.poliza
						h3.text-center Recibe tu Póliza
						span
		hr
		h1 registro
		h2.subtitulo REGISTRO
		
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-11
						.col-md-12
							h2.subt Para conocer la opción de 
								span 
									strong Vida  
								| que tenemos para ti, es necesario aceptar el Aviso de Privacidad y posteriormente completar los siguientes campos:
							input(type="checkbox",id="checkbox-1" class="regular-checkbox big-checkbox")
							label(for="checkbox-1")
							a#AvPriv(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalAvPriv', data-trigger='hover') Aviso de Privacidad
						.col-md-12
							.col-md-11.text-left
								h6 He leído y conozco el alcance del tratamiento de mis datos personales.
									br
						.col-md-12
							small
								u * Campos obligatorios
							h4 Datos personales
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							p.labelgral Nombre(s)*
							input.registro.form-control(type='text', placeholder='Nombre (s)')
						.col-md-4
							p.labelgral Apellido Paterno*
							input.registro.form-control(type='text', placeholder='Apellido paterno')
						.col-md-4
							p.labelgral Apellido Materno*
							input.registro.form-control(type='text', placeholder='Apellido materno ')
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							p.labelgral Correo electrónico*
							input.registro.form-control(type='text', placeholder='Correo electronico')
						.col-md-4
							p.labelgral Fecha de nacimiento*
							input.registro.selector.form-control(type='text', placeholder='Fecha de nacimiento*')
						.col-md-4
							p.labelgral
							.col-xs-4
								br
								input#day.form-control(type='text', disabled='')
							.col-xs-4
								br 
								input#moth.form-control(type='text', disabled='')
							.col-xs-4 
								br
								input#year.form-control(type='text', disabled='')
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h4 Suma asegurada		
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							p.labelgral Ingresa la cantidad por la cual te gustaría asegurarte *
								span.ayuda.azul(data-toggle='tooltip', data-html="true", title="", data-placement='right', data-content="jgjg",data-title='Monto mímino $ 50,000.00 <br> Monto máximo $ 500,000.00',class='naranja-tooltip')
						.col-md-4
							input.registro.form-control(type='text', id="cantidadAsegurarteVida" , placeholder='$100,000,000.°°')

				.row
					.col-md-offset-1.col-md-10
						.col-md-12.text-center
							button.registro.btn-lg.btn-solid(id="step1Vida") COTIZAR
		// Modal
		#myModalAvPriv.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body
						.col-md-offset-1.col-md-10
							h4
								strong	Aviso de privacidad
							h2 Seguros BBVA Bancomer, S,A de CV. Grupo Financiero BBVA BAncomer, Montes Urales 620, 2do piso Col.Lomas de Chapultepec, Del.Miguel Hidalgo, 11000, D.F recaba tus datos para verificar tu identidad. El aviso de privacidad Integral actualizado está en cualquiera de nuestras oficinas y en 
								a(target="_BLANK",href="https://www.segurosbancomer.com.mx/seguros/tleu/segurosban/index.jsp") www.segurosbancomer.com.mx
							br
						.text-center
								button.btn-lg.btn-solid.text-center(type='button', data-dismiss='modal') Aceptar
	
		hr
		h1 cotiza
		.container
			.row
				h2.subtitulo COTIZACIÓN
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-10
						h2
							strong Hola XXXXXX
							, ésta es la mejor opción que encontramos para tí:
				.space
				.row
					.col-md-offset-1.col-md-10
						.bgazul1.r-row
							.row
								.col-md-offset-1.col-md-10
									h1 Protege a tus seres queridos en caso de que llegues a faltar con:
							br
							.row
								.col-md-offset-1.col-md-7
									h6 - Por fallecimiento:
								.col-md-4
									h5 $250,000.°°
							.row
								.col-md-offset-1.col-md-7
									h6 - Adicionales por muerte accidental
								.col-md-4
									h5 $250,000.°°
							.row
								.col-md-offset-1.col-md-7
									h6 - Por gastos funerarios
								.col-md-4
									h5 $250,000.°°
							.space
							.row
								.col-md-12.text-center
									h4.text-center Ver detalle del producto
							.space
				.row
					.col-md-offset-1.col-md-11
						h3 Tipo de plan:
					.col-md-offset-1.col-md-2
						.radio
							input(type='radio',id="radio",name='tipoPlan',value='Plan-Creciente', class="regular-radio",checked='true')
							label(for='radio')
							label Creciente
					.col-md-2
						.radio
							input(type='radio',id="radio-1",name='tipoPlan',value='Plan-fijo', class="regular-radio")
							label(for='radio-1')
							label Fijo
				.row
					.col-md-offset-1.col-md-10
						.bggris.planes
							.triangulo1
							.row
								.col-md-12
									h4 Elige el plan que más te convenga:
							.row
								.col-md-12
									h2 Pagos por prima
									.col-md-3.plan.active
										button.btn.btn-info.bigbutton(type='button')
											.triangulo
											h4  $ 250.00
											p.labelgral Mensual
										br
										br
										br
										ul.list-group
											.triangulo
												.triangulo2
											li.list-group-item
												span.badge 
													strong $250.00
												p.labelgral + 
													strong 11
													span  pago subsecuente de:
											li.list-group-item.tp
												span.badge 
													strong $3,000.00
												p.labelgral Total a pagar:
									.col-md-3.plan
										button.btn.btn-info.bigbutton(type='button')
											.triangulo
											h4 $ 750.00
											p.labelgral Trimestral
										br
										br
										br
										ul.list-group
											.triangulo
												.triangulo2
											li.list-group-item
												span.badge 
													strong $750.00
												p.labelgral + 
													strong 3
													span  pago subsecuente de:
											li.list-group-item.tp
												span.badge 
													strong $3,000.00
												p.labelgral Total a pagar:
									.col-md-3.plan
										button.btn.btn-info.bigbutton(type='button')
											.triangulo
											h4 $ 1,500.00 
											p.labelgral Semestral
										br
										br
										br
										ul.list-group
											.triangulo
												.triangulo2
											li.list-group-item
												span.badge 
													strong $1,500.00
												p.labelgral + 
													strong 1
													span  pago subsecuente de:
											li.list-group-item.tp
												span.badge 
													strong $3,000.00
												p.labelgral Total a pagar:
									.col-md-3.plan
										button.btn.btn-info.bigbutton(type='button')
											.triangulo
											h4 $ 3,000.00 
											p.labelgral Anual		
										br
										br
										br
										ul.list-group
											.triangulo
												.triangulo2
											li.list-group-item
												span.badge 
													strong $3,000.00
												p.labelgral Como 
													strong pago único 
													span de:
													br
											li.list-group-item.tp
												span.badge 
													strong $3,000.00
												p.labelgral Total a pagar:
							.space
					
				.space
				.row
					br
					br
					.col-md-6.text-right
						button.btn-lg.btn-borde NO ME INTERESA
					.col-md-6.text-left
						button.btn-lg.btn-solid(type='button', id='noMeInteresa' , data-toggle='modal', data-target='#myModal') CONTINUAR

		// Modal
		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body
						h4
							strong
								¡Buena elección!
						p Para poder continuar y proteger tu informacion es importante que leas y aceptes las politicas de provacidad .
						.checkbox.text-center
							label
								input(type='checkbox')
								a(target="_BLANK",href="#") Aviso de Privacidad
						h5.text-center he leído y conozco el alcance del tratamiento de mis datos personales.

						button.btn-lg aceptar
					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		hr
		h1 cuestionario
		.container
			.row
				h2 CUESTIONARIO
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h2.subt Por favor responde la siguiente pregunta:
					.col-md-12
						h3 ¿Tienes o has tenido alguna de estas enfermedades?
			form
				.row
					.col-md-offset-8.col-md-1
					.col-md-1.text-center
						strong SI
					.col-md-1.text-center
						strong NO
				.row
					.col-md-offset-1.col-md-7
						h6.labelgral2 1.- Cáncer, tumores malignos, leucemia o lupus
					.col-md-1
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-C1",name='cuestionarioP1',value='si', class="regular-radio",checked='true')		
							label(for='radio-C1')
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-Cp1",name='cuestionarioP1',value='no', class="regular-radio")		
							label(for='radio-Cp1')
				.row
					.col-md-offset-1.col-md-7
						h6.labelgral2 2.- Aunerisma, trombosis, embolia, derrame cerebral o cardiopatía 
							strong (infarto o isquemia o arritmia)
					.col-md-1
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-C2",name='cuestionarioP2',value='si', class="regular-radio",checked='true')		
							label(for='radio-C2')
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-Cp2",name='cuestionarioP2',value='no', class="regular-radio")		
							label(for='radio-Cp2')
				.row
					.col-md-offset-1.col-md-7
						h6.labelgral2 3.- Efisema pulmonar, bronquitis crónica o tuberculosis.
					.col-md-1
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-C3",name='cuestionarioP3',value='si', class="regular-radio",checked='true')		
							label(for='radio-C3')
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-Cp3",name='cuestionarioP3',value='no', class="regular-radio")		
							label(for='radio-Cp3')
				.row
					.col-md-offset-1.col-md-7
						h6.labelgral2 4.- Insuficiencia hepática, cirrosis hepática, hepatitis crónica ("B" o "C"), insuficiencia renal crónica o pancreatitis.
					.col-md-1
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-C4",name='cuestionarioP4',value='si', class="regular-radio",checked='true')
							label(for='radio-C4')
					.col-md-1
						.radio.text-center
							input(type='radio',id="radio-Cp4",name='cuestionarioP4',value='no', class="regular-radio")		
							label(for='radio-Cp4')
				.row
					br
					br
					.col-md-6.text-right
						button.btn-lg.btn-borde#regresaStep3 REGRESAR
					.col-md-6.text-left
						button.btn-lg.btn-solid(type='button', data-toggle='modal', data-target='#myModalDmc') CONTINUAR
				.space
			// Modal
		#myModalDmc.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						.row.text-left
							.col-md-2.text-right
								input(type="checkbox",id="checkbox-modal" class="regular-checkbox big-checkbox", checked="true")
								label(for="checkbox-1")
							.col-md-6
								h2 ¡Felicidades!
						br
						h4 Tu cotización se ha realizado de manera correcta con el folio 
							strong 123456789A
							, el cual te recomendamos conserves para futuras consultas
						br
						button.btn-lg.btn-solid(type='button', data-dismiss='modal') Aceptar
					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes
		hr
		h1 contrata
		.container
			.row
				h2 CONTRATA
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-8
							h2.subt Para contratar tu póliza es necesario completar la información que se solicita a continuación:
								br
							small
								u * Campos obligatorios
							h4 Datos personales
							br
							.col-md-6
								.form-group
									p.labelgral Nombre(s)*
									input#qNombre.form-control(type="text",nombre="qNombre",placeholder="Nombre(s)")
								.form-group
									p.labelgral Apellido Materno*
									input#qMaterno.form-control(type="text",nombre="qMaterno",placeholder="Apellido Materno")
								.form-group
									p Fecha de nacimiento*
									.col-xs-12
										input#qFecha.selector2.form-control(type='text',nombre="qFecha")
									.col-xs-4
										input#day2.form-control(type='text', disabled='',nombre="qFechaD")
									.col-xs-4
										input#moth2.form-control(type='text', disabled='',nombre="qFechaM")
									.col-xs-4
										input#year2.form-control(type='text', disabled='',nombre="qFecha")
								.form-group
									p.labelgral Entidad federativa*
									input#qEdo.form-control(type="text",nombre="qRfc",placeholder="Entidad federativa")
								.form-group
									p.labelgral RFC*
									input#qCurp.form-control(type="text",nombre="qRfc",placeholder="RFC")
							.col-md-6
								.form-group
									p.labelgral Apellido Paterno*
									input#qMaterno.form-control(type="text",nombre="qPaterno",placeholder="Apellido Paterno")
							.col-md-6
								.form-inline
									p.labelgral Genero*
									.col-md-6
										h6.labelgral
											input(type='radio',id="radio-cs",name='optionsRadios', value='femenino', checked='' class="regular-radio")
											label(for='radio-cs')
											| Femenino
									.col-md-6
										h6.labelgral
											input(type='radio',id="radio-cs2",name='optionsRadios', value='masculino',class="regular-radio")
											label(for='radio-cs2')
											| Masculino
							.col-md-6
								.form-group
									p.labelgral País de nacimiento*
									input#qPais.form-control(type="text",nombre="qRfc",placeholder="País de nacimiento")
							.col-md-6
								br
							.col-md-6
								.form-group
									br
									br
									p.labelgral CURP*
									input#qCurp.form-control(type="text",nombre="qCurp",placeholder="CURP")
							.col-md-6
								.form-group
									p.labelgral Correo electronico*
									input#qCorreo.form-control(type="text",nombre="qCorreo",placeholder="ana@gmail.com")
							.row
								.col-md-12
									.col-md-8
										h4 Domicilio del contratante
									.col-md-6
										.form-group
											p.labelgral Calle*
											input#qCalle.form-control(type="text",nombre="qCalle",placeholder="Calle")
									.col-md-6
										.form-group
											p.labelgral No. Exterior
											input#qNext.form-control(type="text",nombre="qNext",placeholder="Apellido Materno")
									.col-md-6
										.form-group
											p.labelgral No. Interior*
											input#qNint.form-control(type="text",nombre="qNint",placeholder="No. Int")
									.col-md-6
										.form-group
											p.labelgral C.P*
											input#qCp.form-control(type="text",nombre="qCp",placeholder="Codigo postal")
									.col-md-6
										p.labelgral Colonia*
										select#qColonia.form-control
											option(value="opcion-1",nombre="") Colonia
											option(value="opcion-2",nombre="") b
											option(value="opcion-3",nombre="") c
											option(value="opcion-4",nombre="") d
											option(value="opcion-5",nombre="") e
									.col-md-6
										.form-group
											p.labelgral Delegación/municipio*
											input#qDeleg.form-control(type="text",nombre="qDeleg",placeholder="Delegación/municipio")
									.col-md-6
										.form-group
											p.labelgral Ciudad*
											input#qCiudad.form-control(type="text",nombre="qCiudad",placeholder="Ciudad")
											.space
									.col-md-6
										.form-group
											p.labelgral Estado*
											input#qEdo.form-control(type="text",nombre="qEdo",placeholder="Estado")
											.space

						.col-md-4.bgazul1.r-row
							.col-md-12
								p.bgazul4 No. de cotización: 
									strong  123456789A
							.col-md-5
								h1 Suma asegurada
							.col-md-7
								h2 $5000,000.°°
							.col-md-12
								.col-md-6
									h3 Suma asegurada por fallecimiento
								.col-md-6
									br
									h4 $ 250,000.°°
							.col-md-12
								.col-md-6
									h3 Suma asegurada por muerte accidental
								.col-md-6
									br
									h4 $ 120,000.°°
							.col-md-12
								.col-md-6
									h3 Suma asegurada para gastos funerarios
								.col-md-6
									br
									h4 $ 280,000.°°
							.col-md-12
								hr
							.col-md-12
								.col-md-6
									h5 Periodo:
								.col-md-6
									h6 Mensual
							.col-md-12
								.col-md-6
									h5 Primer pago:
								.col-md-6
									h6 $ 250.°°
							.col-md-12
								.col-md-6
									h5 Pagos subsecuentes 11 pagos de:
								.col-md-6
									h6 $ 250.°°
							.col-md-12
								.col-md-6
									h5 Total a pagar:
								.col-md-6
									h6 $ 3,000.°°	
									.space
							.col-md-12.text-center
								button.btn-lg.btn-borde CAMBIAR COTIZACIÓN
								.space
							//.col-md-12.text-center
								button.btn-lg.btn-borde CONTRATAR VIA TELEFÓNICA
						.col-md-8
							.col-md-12
								h4 BENEFICIARIOS
								br
							.col-md-12.bgazul7
								br
								.triangulo
								.col-md-8
									h3 Recomendaciones para registrar a tus beneficiarios:
									ul
										li - Personas mayores de edad o próximo a serlos
										li - Tener un parentesco
										li - No rebasar el 100% de la asignación
								.col-md-4.text-center.pregB
									br
									button#agregarBene.btn-lg.btn-solid(type='button') 
										.col-md-1.mov
											b.text-left +
										.col-md-6.mov2
											| AGREGAR BENEFICIARIO
									br
								.col-md-12
									br
						.col-md-8.qBeneficiario							
							.col-md-12
								h4 DATOS BENEFICIARIO 1
							.col-md-6
								.form-group
									p.labelgral Nombre(s)*
									input.form-control(type="text",placeholder="Nombre(s)")
								.form-group
									p.labelgral Apellido materno*
									input.form-control(type="text",placeholder="Apellido materno")
								.form-group
									p.labelgral Porcentaje asignado*
									select.form-control
										option(value="opcion-1") Selecciona
										option(value="opcion-2") 25%
										option(value="opcion-3") c
										option(value="opcion-4") d
										option(value="opcion-5") e	
							.col-md-6
								.form-group
									p.labelgral Apellido paterno*
									input.form-control(type="text",placeholder="Apellido paterno")
								.form-group
									p.labelgral Parentesco*
									select.form-control
										option(value="opcion-1") Selecciona
										option(value="opcion-2") Hijo
										option(value="opcion-3") c
										option(value="opcion-4") d
										option(value="opcion-5") e
						.col-md-offset-1.col-md-10.text-center
							br
							button#continuarStep4.btn-lg.btn-solid CONTINUAR
							.space				
			// Modal
		#myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						h4 Te solicitamos que ingreses tu número telefonico y un horario adecuado para contactarte
						.col-md-12.text-center
							.col-md-3
							.col-md-5
								p.labelgral Número telefonico
								input#contrata.form-control(type='text' placeholder='55-98-98-98')
						.col-md-12.text-center
							.col-md-3
							.col-md-5
								p.labelgral Horario a contactar
								input#contrata.form-control(type='text' placeholder='12:00-16:00')						
						button.btn-lg CONTACTARME
					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		.container
			.row
				h2 PAGO DE CONTRATACIÓN
		.container.bgazul2.contrata
			.row
				.col-md-offset-1.col-md-6
					h2.subt RESUMEN DE CONTRATACIÓN
				.col-md-4.bgazul5
					.col-xs-6
						h6 No. de cotización.
					.col-xs-6.text-right
						h4 123456789A
			.row
				.col-md-offset-1.col-md-11
					h4 DATOS DEL CONTRATANTE
			.row
				.col-md-offset-1.col-md-3
					p.labelgral Nombre del cliente
					p.dato XRamiréz Ayala Juan LuisX
				.col-md-2
					p.labelgral Género
					p.dato Femenino
				.col-md-3
					p.labelgral Fecha de nacimiento
					p.dato 23/10/1985
				.col-md-3
					p.labelgral País de nacimiento
					p.dato México
			.row
				.col-md-offset-1.col-md-2
					p.labelgral Entidad federativa
					p.dato CDMX
				.col-md-3
					p.labelgral CURP
					p.dato XRAYU123412MMDH09X
				.col-md-3
					p.labelgral RFC
					p.dato XRAYU123412MMX
				.col-md-3
					p.labelgral Correo eléctronico
					p.dato Xjuan@mail.comX
			.row
				.col-md-offset-1.col-md-11
					h4 DOMICILIO DEL CONTRATANTE
					P.dato Exploradores Tonatiuh No. 304, Col. Alamos, C.p. 034500, Bénito Juárez, CDMX.
			.row
				.col-md-offset-1.col-md-11
					h4 Beneficiarios
			.row
				.col-md-offset-1.col-md-4
					p.labelgral 1 Nombre del beneficiario
					p.dato XRamiréz Ayala Juan LuisX
				.col-md-3
					p.labelgral Parentesco
					p.dato Hijo
				.col-md-4
					p.labelgral Porcentaje asignado
					p.dato 25%
		.container.bgazul3.resumen
			.space
			.row
				.col-md-offset-1.col-md-12
					h4 Detalle del Seguro Vida
			.row
				.col-md-offset-1.col-md-4
					h1 Suma asegurada
				.col-md-6
					h1 $500,000.°°
			.row
				.col-md-offset-1.col-md-3
					h4 Suma asegurada por fallecimiento
					p.dato $250,000.°°
				.col-md-3
					h4 Suma asegurada por muerte accidental
					p.dato $120,000.00
				.col-md-3
					h4 Suma asegurada para gastos funerarios
					p.dato $280,000.°°
				.col-md-2
					h4 Periodo
					br
					p.dato Mensual
			.space
			.row
				.col-md-offset-1.col-md-3
					h4 Primer pago
					br
					p.dato $250.°°
				.col-md-3
					h4 Pagos subsecuentes 11 pagos de 
					p.dato $250.°°
				.col-md-3
					h4 Total a pagar
					br
					p.dato $3,000.°°
				.col-md-2
		//- .container.bgazul5.envioPoliza
		//- 	.row
		//- 		.col-md-offset-1.col-md-8
		//- 			h4 Envío de póliza
		//- 	.row
		//- 		.col-md-offset-1.col-md-12
		//- 			h2.subt Selecciona el medio por el cual quieres recibir tu póliza.
		//- 	.row
		//- 		.col-md-offset-1.col-md-12
		//- 			.col-md-2
		//- 				input.entregaP(type="radio",name='medioRecibo',value='Correo', checked="true")
		//- 				label Correo eléctronico
		//- 			.col-md-2
		//- 				input.entregaP(type="radio",id="radioEnvio",name='medioRecibo',value='Domicilio')
		//- 				label Domicilio
		//- 			.col-md-3
		//- 				input.entregaP(type="radio",name='medioRecibo',value='Consulta')
		//- 				label Consulta portal Seguros
		//- 			.col-md-2
		//- 				input.entregaP(type="radio",name='medioRecibo',value='SAC')
		//- 				label Comunicar al SAC
		//- 	.row.envio
		//- 		br
		//- 		.col-md-offset-1.col-md-12
		//- 			.col-md-12
		//- 				p ¿El domicilio es el mismo con el que está registrado el inmueble?
		//- 			.row
		//- 				.col-md-12
		//- 					.col-md-1
		//- 						input(type="radio",name='registro',value='Si')
		//- 						label Si
		//- 					.col-md-1
		//- 						input(type="radio",name='registro',value='No')
		//- 						label No
		//- 				.col-md-6
		//- 					.col-md-4
		//- 						.form-group
		//- 							h5.label Hora de entrega
		//- 							input.form-control(type="text",placeholder="12:00 pm")
		//- 			.row
		//- 				.col-md-12
		//- 					.col-md-6
		//- 						.form-group
		//- 							h5.label Detalle (Entre que calles se encuentran)
		//- 							input.form-control(type="textarea",placeholder="Entre Pianini y Motolinia")
		.container.bgwhite
			.space
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h4 COMPRAR
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
							span.acepto Acepto los	
								a(target="_BLANK",href="#") Términos y condiciones
				.row
					br
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Forma de pago
								select.acepto1#formaP.form-control(disabled='')
									option(value="0",nombre='')
									option(value="1",nombre='') TDC
									option(value="2",nombre='') CCB
									option(value="3",nombre='') c
									option(value="4",nombre='') d	
						.col-md-4.tdc.ccb
							.col-md-10
								p.labelgral Nombre del titular*
								input.acepto1#contrata.form-control(type='text' placeholder='Escribe tu nombre',nombre='',disabled='')
						.col-md-4.tdc
							.col-md-10
								p.labelgral Tipo de tarjeta*
								select.acepto1.form-control(disabled='')
									option(value="opcion-1",nombre='') VISA
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
						.col-md-4.ccb
							.col-md-10
								p.labelgral Número de la cuenta
									span.fp (20 digitos)*
								input.acepto1#contrata.form-control(type='text' placeholder='12312341234234123',nombre='',disabled='')
				.row.tdc
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Número de tarjeta*
									span.fp (16 digitos)
								input.acepto1#contrata.form-control(type='text' placeholder='12312341234234123',nombre='',disabled='')
						.col-md-3
							.col-md-10
								p.labelgral CVV*
									span.ayuda.azul(data-toggle='tooltip', data-placement='right', title='Ultimos digitos al reverso de tu tarjeta',class="naranja-tooltip")

								input.acepto1#contrata.form-control(type='text' placeholder='000',nombre='',disabled='')
						.col-md-4
							.col-md-12
								p.labelgral Fecha de vencimiento*
							.col-md-4
								select.acepto1#fechaVenc.form-control(disabled='')
									option(value="opcion-1",nombre='') 06
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
							.col-md-6
								select.acepto1.form-control(disabled='')
									option(value="opcion-1",nombre='') 2019
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
						.col-md-5.tdc
							.col-md-12
								p.labelgral Tarjeta
							.col-md-4
								input.acepto1#tarjBbva(type="radio",name='tarjeta',value='BBVA', checked="")
								label Bancomer
							.col-md-8
								input.acepto1#tarjOther(type="radio",name='tarjeta',value='No',disabled='')
								label Otros bancos
						.col-md-7.tdc1
							.col-md-12
								p.labelgral Meses sin intereses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='3', checked="",disabled='')
								label 3 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='6',disabled='')
								label 6 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='9',disabled='')
								label 9 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='12',disabled='')
								label 12 meses
				.row.ccb
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Institución bancaria*
								input.acepto1#contrata.form-control(type='text' placeholder='Banamex',nombre='')
				.space
				.row
					br
					.col-md-offset-1.col-md-10
						.col-md-6.text-right
							button.btn.lg.btn-borde REGRESAR
						.col-md-6.text-left
							button.btn.lg.btn-solid PAGAR
		// Modal
		#myModal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						h4
							strong
								¡Parece que tenemos un problema!
						p No pudimos realizar el cobro, porfavor verifica los datos de tu tarjeta o consulta el saldo disponible.

						button.btn-lg#contrataRevisarStep4 revisar



					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

					br
					.col-md-6.text-right
						button.btn.lg.btn-bordecontrataNoMeInteresaStep4 REGRESAR
					.col-md-6.text-left
						button.btn.lg.btn-solid#contrataSeguirDespuesStep4 PAGAR
		hr
		h1 poliza
		.container.bgazul1.poliza
			.row
				.exito
				.space
			.row
				.col-md-12.text-center
					h2 ¡FELICIDADES XXXXXXX XXXX!
			.space
			.space
				.col-md-12.text-center
					h3 ¡Has contratado tu seguro 
						span.verde exitosamente!
			.row
				.col-md-12.text-center
					h4 Tu póliza se ha generado de manera correcta, la cual será enviada a tu domicilio seleccionado.
					br
			.row
				.space
				.col-md-12.text-center
						p
							span.bgazul4 No. PÓLIZA: 
								strong 24689012
			.row
				.space
				.space
			.row
				.col-md-12
					.col-md-1.text-right.info.exito1
					.col-md-10
						h5 Aplican restricciones y exlusiones, para dudas y aclaraciones, ingresa a www.segurosbancomer.com o llama al Centro de Servicio al Cliente: CDMX y zona metropolitana 11020000, interior de la República (0155) 11020000
			.space
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10.bgazul7
					.space
					.col-md-1.text-right.exito2
					.col-md-11
						h5.comprobante Se ha generado tu comprobante de compra, el cual de manera automática se ha enviado al mail que registraste: 
							strong ana00@gmail.com
					.col-md-11
						.space
			.row
				.col-md-12.text-center
					br
					button.btn-lg.btn-solid DESCARGAR PDF
				.col-md-12.text-center
					br
		hr


		


	script(src="http://code.jquery.com/jquery.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="../js/app.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")