doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de...
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet",href="style.css")
	body
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-offset-1.col-md-2.step.active
						p.text-center
							span 1
						h3.text-center registro
					.col-md-2.step
						p.text-center
							span 2
						h3.text-center cotiza
					.col-md-2.step
						p.text-center
							span 3
						h3.text-center cuestionario
					.col-md-2.step
						p.text-center
							span 4
						h3.text-center contrata
					.col-md-2.step
						p.text-center
							span 5
						h3.text-center p贸liza
		hr
		h1 registro
		h2.subtitulo ingreso de datos
		.bggris
			.container
				form
					.row
						.col-md-12
							p Para conocer la opci贸n de Hogar que tenemos para ti, por favor completa los siguientes campos:
							h4 Datos personales
					
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Nombre')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Correo electr贸nico')					
					.row
						.col-md-12
							h4 Domicilio

					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Calle')
						.col-md-2
							input#nombre.form-control(type='text', placeholder='No.Ext')
						.col-md-2
							input#nombre.form-control(type='text', placeholder='No.Int')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='C.P.*')
					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Colonia')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Delegaci贸n/Municipio')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Ciudad')
					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Estado')
					.row
						h4 Suma asegurada
						.col-md-4



		hr
		h1 cotiza

		hr
		h1 cuestionario

		hr
		h1 contrata

		hr
		h1 poliza

		hr

	script(src="http://code.jquery.com/jquery.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")