doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de Hogar
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel="stylesheet",href="style.css")
		link(rel="stylesheet",href="../fonts/font.css")
	body
		.callme
			br
			p.text-center Tengo dudas, Llámenme
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-offset-1.col-md-2.step.complete
						.ico.registra
						h3.text-center registro
						span
					.col-md-2.step.active
						.ico.cotiza
						h3.text-center cotiza
						span
					.col-md-2.step
						.ico.valida
						h3.text-center cuestionario
						span
					.col-md-2.step
						.ico.contrata
						h3.text-center contrata
						span
					.col-md-2.step
						.ico.poliza
						h3.text-center póliza
						span
		hr
		
		h1 registro
		h2.subtitulo ingreso de datos
		
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h2.subt Para conocer la opción de 
								span
									strong Hogar 
								| que tenemos para ti, es necesario aceptar el Aviso de Privacidad y posteriormente completar los siguientes campos:
							input(type="checkbox",id="checkbox-1" class="regular-checkbox big-checkbox")
							label(for="checkbox-1")
							a#AvPriv(target='_BLANK',href='#', data-toggle='modal', data-target='#myModalAvPriv', data-trigger='hover') Aviso de Privacidad
								br
							br
							small
								u * Campos obligatorios
							h4 Datos personales
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							label.labelgral Nombre(s)*
							input#nombreTitular.registro.form-control(type='text', disabled='',placeholder='Nombre (s)*',nombre="nombreTitular")
						.col-md-4
							label.labelgral Apellido paterno*
							input#paternoTitular.registro.form-control(type='text', disabled='',placeholder='Apellido paterno * ', nombre="paternoTitular")
						.col-md-4
							label.labelgral Apellido materno*
							input#maternoTitular.registro.form-control(type='text', disabled='',placeholder='Apellido materno *', nombre="#maternoTitular")
						.col-md-4
							label.labelgral Correo electrónico*
							input#correoTitular.registro.form-control(type='text', disabled='',placeholder='Correo electrónico *',nombre="correoTitular")
				.row
					.col-md-offset-1.col-md-10
						h4 Domicilio a asegurar
				.row
					.col-md-offset-1.col-md-10
						.col-md-4
							label.labelgral Calle*
							input#calleAsegurar.registro.form-control(type='text', disabled='',placeholder='Calle * ',nombre="calleAsegurar")
						.col-md-4
							label.labelgral Número exterior*
							input#nextasegurar.registro.form-control(type='text', disabled='',placeholder='No.Ext *',nombre="nextasegurar")
						.col-md-4
							label.labelgral Número anterior*
							input#nintasegurar.registro.form-control(type='text', disabled='',placeholder='No.Int',nombre="nextasegurar")
						.col-md-4
							label.labelgral Codigo postal*
							input#cpasegurar.registro.form-control(type='text', disabled='',placeholder='C.P. *',nombre="cpasegurar")
						.col-md-4
							label.labelgral Colonia*
							//- input.registro.form-control(type='text', disabled='',placeholder='Colonia * ')
							select#coloniaasegurar.registro.form-control
								option(value="opcion-1",nombre="") Colonia 
								option(value="opcion-2",nombre="") b
								option(value="opcion-3",nombre="") c
								option(value="opcion-4",nombre="") d
								option(value="opcion-5",nombre="") e
						.col-md-4
							label.labelgral Delegacion / Municipio*
							input#deleasegurar.registro.form-control(type='text', disabled='',placeholder='Delegación/Municipio * ',nombre="deleasegurar")
						.col-md-4
							label.labelgral Estado*
							input#edoasegurar.registro.form-control(type='text', disabled='',placeholder='Estado *',nombre="edoasegurar")
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h4 Suma asegurada
						.col-md-4
							label.labelgral Ingresa el valor aproximado del inmueble*
								span.ayuda.azul(data-toggle='tooltip', data-html="true", title="", data-placement='right', data-content="",data-title='Considera el Valor Comercial actual aproximado de tu casa (sólo construcción), sin tomar en cuenta el terreno.',class='naranja-tooltip')
							input#sumaasegurar.registro.form-control(type='text', disabled='',placeholder='Suma asegurada *',nombre="sumaasegurar")
				.row
					.col-md-offset-1.col-md-10.text-center
						button.registro.btn-lg.btn-solid(disabled='') COTIZAR
		// Modal
		#myModalAvPriv.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body
						.col-md-offset-1.col-md-10
							h4
								strong	Aviso de privacidad
							h2 Seguros BBVA Bancomer, S,A de CV. Grupo Financiero BBVA BAncomer, Montes Urales 620, 2do piso Col.Lomas de Chapultepec, Del.Miguel Hidalgo, 11000, D.F recaba tus datos para verificar tu identidad. El aviso de privacidad Integral actualizado está en cualquiera de nuestras oficinas y en 
								a(target="_BLANK",href="https://www.segurosbancomer.com.mx/seguros/tleu/segurosban/index.jsp") www.segurosbancomer.com.mx
							br
						.text-center
								button.btn-lg.btn-solid.text-center(type='button', data-dismiss='modal') Aceptar


		hr
		h1 cotiza
		.container
			.row
				h2.subtitulo COTIZACIÓN
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h2.subt
								strong Hola XXXXXX
								, estas son las opciones que tenemos para tí:
				.row.aOb
					.col-md-offset-1.col-md-10
						.col-md-7
							.bqplanes.a.active
								.row
									.col-md-8
										h2
											.radio
												input.planAB(type='radio',id="radio-1",name='planes',value='option1',checked='true' class="regular-radio")
												label(for='radio-1')
												span	Plan A
									.col-md-4
										h2 $3,000.°°
								.row
									.col-md-12
										ul
											h3 Coberturas
											li Por daños al inmueble
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true",class="naranja-tooltip",title='Cuando el daño se presenta por: <ul> <li> Incendio</li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos)</li> <li> Más un 20% adicional de la suma asegurada para remover escombros</li> <li> Más 20% adicional de la suma asegurada para gastos extraordinarios (de hospedaje, almacenamiento de tus pertenencias entre otros)</li> </ul>')
											li Por daños a los contenidos
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Cuando el daño se presenta por: <ul> <li> Incendio </li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos) </li> </ul>',class="naranja-tooltip")
											li Por robo
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Aplica para: <ul> <li> Articulos de uso doméstico </li> <li> Muebles </li> <li> Dinero en efectivo (hasta el 5% de la suma asegurada por robo) </li> <li> Objetos de difícil reposición </li> </ul>',class="naranja-tooltip")
											li Por rotura de cristales
											li Por responsabilidad civil privada y familiar
											li Por equipo electrónico
											br
										h4.text-center Ver detalle del producto
						.col-md-5
							.bqplanes.b
								.row
									.col-md-8
										h2
											.radio
												input.planAB(type='radio',id="radio-2",name='planes',value='option2' class="regular-radio")
												label(for='radio-2')
												span	Plan B
									.col-md-4
										h2 4,500.°°
								.row
									.col-md-12
										ul
											h3.text-left Cobertura
											li Por daños al inmueble
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true",class="naranja-tooltip",title='Cuando el daño se presenta por: <ul> <li> Incendio</li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos)</li> <li> Más un 20% adicional de la suma asegurada para remover escombros</li> <li> Más 20% adicional de la suma asegurada para gastos extraordinarios (de hospedaje, almacenamiento de tus pertenencias entre otros)</li> </ul>')
											li Por daños a los contenidos
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Cuando el daño se presenta por: <ul> <li> Incendio </li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos) </li> </ul>',class="naranja-tooltip")
											li Por robo
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Aplica para: <ul> <li> Articulos de uso doméstico </li> <li> Muebles </li> <li> Dinero en efectivo (hasta el 5% de la suma asegurada por robo) </li> <li> Objetos de difícil reposición </li> </ul>',class="naranja-tooltip")
											li Por rotura de cristales
											li Por responsabilidad civil privada y familiar
											li Por equipo electrónico
										h4.text-center Ver detalle del producto
				
				.row.plus
					.col-md-offset-1.col-md-10
						.col-md-12
							.bqplanes.c
								.row
									.col-md-8
										h2
											.radio
												input.planAB(type='radio',id="radio-Plus",name='planes',value='option1', class="regular-radio")
												label(for='radio-Plus')
												span	Plan Plus
									.col-md-4
										h2 $3,000.°°
								.row
									.col-md-12
										ul
											h3 Coberturas
											li Por daños al inmueble
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true",class="naranja-tooltip",title='Cuando el daño se presenta por: <ul> <li> Incendio</li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos)</li> <li> Más un 20% adicional de la suma asegurada para remover escombros</li> <li> Más 20% adicional de la suma asegurada para gastos extraordinarios (de hospedaje, almacenamiento de tus pertenencias entre otros)</li> </ul>')
											li Por daños a los contenidos
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Cuando el daño se presenta por: <ul> <li> Incendio </li> <li> Daños causados por tormentas e inundaciones, granizo de gran tamaño, nevadas (daños hidrometeorológicos) </li> </ul>',class="naranja-tooltip")
											li Por robo
												span.ayuda.azul(data-toggle='tooltip', data-placement='right', data-html="true", title='Aplica para: <ul> <li> Articulos de uso doméstico </li> <li> Muebles </li> <li> Dinero en efectivo (hasta el 5% de la suma asegurada por robo) </li> <li> Objetos de difícil reposición </li> </ul>',class="naranja-tooltip")
											li Por rotura de cristales
											li Por responsabilidad civil privada y familiar
											li Por equipo electrónico
											br
										h4.text-center Ver detalle del producto

				.row
					.col-md-offset-1.col-md-10.bggris.planes
						.a
							.triangulo
						.b
							.triangulo
						.c
							.triangulo
						.col-md-12
								h4 Elige el plan que más te convenga:
						.col-md-6
							h2.subt Pagos por prima
							h3 Con terremoto
							.row.plan.active
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4  $ 250.00
										p.labelgral Mensual
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $250.00
											p.labelgral + 
												strong 11
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $3,000.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 750.00
										p.labelgral Trimestral
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $750.00
											p.labelgral + 
												strong 3
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $3,000.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 1,500.00 
										p.labelgral Semestral
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $1,500.00
											p.labelgral + 
												strong 1
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $3,000.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 3,000.00 
										p.labelgral Anual		
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $3,000.00
											p.labelgral Como 
												strong pago único 
												span de:
												br
										li.list-group-item.tp
											span.badge 
												strong $3,000.00
											p.labelgral Total a pagar:
						.col-md-6
							h2.subt Pagos por prima
							h3 Sin terremoto			
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 200.00 
										p.labelgral Mensual
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $200.00
											p.labelgral + 
												strong 11
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $2,400.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 800.00 
										p.labelgral Trimestral
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $800.00
											p.labelgral + 
												strong 3
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $2,400.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 1,200.00 
										p.labelgral Semestral
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $1,200.00
											p.labelgral + 
												strong 1
												span  pago subsecuente de:
										li.list-group-item.tp
											span.badge 
												strong $2,400.00
											p.labelgral Total a pagar:
							.row.plan
								.col-md-5
									button.btn.btn-info.bigbutton(type='button')
										.triangulo
										h4 $ 2,400.00 
										p.labelgral Anual		
								.col-md-6
									ul.list-group
										.triangulo
											.triangulo2
										li.list-group-item
											span.badge 
												strong $2,400.00
											p.labelgral Como 
												strong pago único 
												span de:
												br
										li.list-group-item.tp
											span.badge 
												strong $2,400.00
											p.labelgral Total a pagar:
				.row
					.col-md-offset-1.col-md-10
						br
						br
						.col-md-6.text-right
							button.btn-lg.btn-borde NO ME INTERESA
						.col-md-6.text-left
							button.btn-lg.btn-solid CONTINUAR

		//- // Modal
		//- #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		//- 	.modal-dialog(role='document')
		//- 		.modal-content
		//- 			//.modal-header
		//- 				button.close(type='button', data-dismiss='modal', aria-label='Close')
		//- 					span(aria-hidden='true') ×
		//- 				h4#myModalLabel.modal-title Modal title
		//- 			.modal-body
		//- 				h4
		//- 					strong
		//- 						¡Buena elección!
		//- 				p Para poder continuar y proteger tu informacion es importante que leas y aceptes las politicas de provacidad .
		//- 				.checkbox
		//- 					label
		//- 						input(type='checkbox')
		//- 						a(target="_BLANK",href="#") Aviso de Privacidad
		//- 				h5 he leído y conozco el alcance del tratamiento de mis datos personales.
		//- 				button.btn-lg.btn-solid.text-center aceptar

		hr
		h1 cuestionario
		.container
			.row
				h2 CUESTIONARIO
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					h2.subt A continuación te realizaremos un cuestionario, te pedimos las respondas:
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-offset-8.col-md-2.text-center
							strong SI
						.col-md-2.text-center
							strong NO
				.row
					.col-md-offset-1.col-md-10
						.col-md-8
							h6.labelgral2 1.- ¿El inmueble por asegurar se encuentra auna distancia menor a 500 metros respecto a cualquier fuente de agua 
								span
									strong (lago, río, mar, etc.)?
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-C1",name='cuestionarioP1',value='si', class="regular-radio",checked='true')
								label(for='radio-C1')
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-Cp1",name='cuestionarioP1',value='no', class="regular-radio")
								label(for='radio-Cp1')
				.row
					.col-md-offset-1.col-md-10
						.col-md-8
							h6.labelgral2 2.- ¿Los muros están construidos de 
								span
									strong tabique, ladrillo, block o concreto armado?
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-C2",name='cuestionarioP2',value='si', class="regular-radio",checked='true')
								label(for='radio-C2')
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-Cp2",name='cuestionarioP2',value='no', class="regular-radio")
								label(for='radio-Cp2')
				.row
					.col-md-offset-1.col-md-10
						.col-md-8
							h6.labelgral2 3.- ¿Los techos están construidos de 
								span
									strong concreto armado o bóveda de ladrillo?
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-C3",name='cuestionarioP3',value='si', class="regular-radio",checked='true')
								label(for='radio-C3')
						.col-md-2
							.radio.text-center
								input(type='radio',id="radio-Cp3",name='cuestionarioP3',value='no', class="regular-radio")
								label(for='radio-Cp3')
				.row
					.col-md-offset-1.col-md-10
						.bgazul.valida
							.triangulo
							.row
								.form-inline
									.col-md-12
										h4 El domicilio a asegurar es:
							.row
								.col-md-6.text-center
									.ico.house
									.radio
										input.pregDom(type='radio',id="radio-domC",name='cuestionarioP4',value='Casa', class="regular-radio",checked='true')
										label(for='radio-domC')
										label 
											h4 Casa
									.col-md-12.casa
										.col-md-8.text-right
											h6.labelgral2 ¿Cuántos pisos tiene la casa?
										.col-md-3
											input#pisosCasa.form-control(type='text', placeholder='# Pisos ',nombre="pisosCasa")

								.col-md-6.text-center
									.ico.depa
									.radio
										input.pregDom(type='radio',id="radio-domD",name='cuestionarioP4',value='Dep', class="regular-radio")
										label(for='radio-domD')
										label 
											h4 Departamento
									.col-md-12.edificio
										.col-md-8.text-right
											h6.labelgral2 ¿Cuántos pisos tiene el edificio?
										.col-md-3
											input#pisosDepa.form-control(type='text', placeholder='# Pisos ',nombre="pisosDepa")
										.col-md-8.text-right
											h6.labelgral2 ¿En qué piso vives?
										.col-md-3
											input#pisoVvsDep.form-control(type='text', placeholder='# Pisos ',nombre="pisoVvsDep")
								.col-md-12.text-center
									.col-md-offset-1.col-md-11.bgazul6
										h5.seguro Este seguro está diseñado para asegurar inmuebles y sus contenidos, siempre y cuando su ocupación o uso sea únicamente habitacional.
				.row
					.col-md-offset-1.col-md-10
						br
						br
						.col-md-6.text-right
							button.btn-lg.btn-borde REGRESAR
						.col-md-6.text-left
							button.btn-lg.btn-solid(type='button', data-toggle='modal', data-target='#myModalDmc') CONTINUAR
			// Modal
		#myModalDmc.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					//.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body.text-center
						.row.text-left
							.col-md-2.text-right
								input(type="checkbox",id="checkbox-modal" class="regular-checkbox big-checkbox", checked="true")
								label(for="checkbox-1")
							.col-md-6
								h2 ¡Felicidades!
						br
						h4 Tu cotización se ha realizado de manera correcta con el folio 
							strong 123456789A
							, el cual te recomendamos conserves para futuras consultas
						br
						button.btn-lg.btn-solid(type='button', data-dismiss='modal') Aceptar
					//.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Save changes

		hr
		h1 contrata
		.container
			.row
				h2 CONTRATA
		.container.bgwhite
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-8
							h2.subt Para contratar tu póliza es necesario completar la información que se solicita a continuación:
								br
							small
								u * Campos obligatorios
							h4 Datos personales
							br
							.col-md-6
								.form-group
									p.labelgral Nombre(s)*
									input#qNombre.form-control(type="text",nombre="qNombre",placeholder="Nombre(s)")
								.form-group
									p.labelgral Apellido Materno*
									input#qMaterno.form-control(type="text",nombre="qMaterno",placeholder="Apellido Materno")
								.form-group
									p Fecha de nacimiento*
									.col-xs-12
										input#qFecha.selector2.form-control(type='text',nombre="qFecha")
									.col-xs-4
										input#day2.form-control(type='text', disabled='',nombre="qFechaD")
									.col-xs-4
										input#moth2.form-control(type='text', disabled='',nombre="qFechaM")
									.col-xs-4
										input#year2.form-control(type='text', disabled='',nombre="qFecha")
								.form-group
									p.labelgral RFC*
									input#qCurp.form-control(type="text",nombre="qRfc",placeholder="RFC")
								.form-group
									p.labelgral Teléfono de contacto*
									input#qTelefono.form-control(type="text",nombre="qTelefono",placeholder="Teléfono de contacto*")
							.col-md-6
								.form-group
									p.labelgral Apellido Materno*
									input#qMaterno.form-control(type="text",nombre="qMaterno",placeholder="Apellido Materno")
							.col-md-6
								.form-inline
									p.labelgral Genero*
									.col-md-6
										h6.labelgral
											input(type='radio',id="radio-cs",name='optionsRadios', value='femenino', checked='' class="regular-radio")
											label(for='radio-cs')
											| Femenino
									.col-md-6
										h6.labelgral
											input(type='radio',id="radio-cs2",name='optionsRadios', value='masculino',class="regular-radio")
											label(for='radio-cs2')
											| Masculino
							.col-md-6
								.form-group
									p.labelgral CURP*
									input#qCurp.form-control(type="text",nombre="qCurp",placeholder="CURP")
							.col-md-6
								.form-group
									p.labelgral Correo electronico*
									input#qCorreo.form-control(type="text",nombre="qCorreo",placeholder="ana@gmail.com")
							.row
								.col-md-12
									.col-md-8
										h4 Domicilio del contratante
									.col-md-6
										.form-group
											p.labelgral Calle*
											input#qCalle.form-control(type="text",nombre="qCalle",placeholder="Calle")
									.col-md-6
										.form-group
											p.labelgral No. Exterior
											input#qNext.form-control(type="text",nombre="qNext",placeholder="Apellido Materno")
									.col-md-6
										.form-group
											p.labelgral No. Interior*
											input#qNint.form-control(type="text",nombre="qNint",placeholder="No. Int")
									.col-md-6
										.form-group
											p.labelgral C.P*
											input#qCp.form-control(type="text",nombre="qCp",placeholder="Codigo postal")
									.col-md-6
										p.labelgral Colonia*
										select#qColonia.form-control
											option(value="opcion-1",nombre="") Colonia
											option(value="opcion-2",nombre="") b
											option(value="opcion-3",nombre="") c
											option(value="opcion-4",nombre="") d
											option(value="opcion-5",nombre="") e
									.col-md-6
										.form-group
											p.labelgral Delegación/municipio*
											input#qDeleg.form-control(type="text",nombre="qDeleg",placeholder="Delegación/municipio")
									.col-md-6
										.form-group
											p.labelgral Estado*
											input#qEdo.form-control(type="text",nombre="qEdo",placeholder="Estado")
											.space

						.col-md-4.bgazul1.r-row
							.col-md-12
								p.bgazul4 No. de cotización: 
									strong  123456789A
							.col-md-6
								h1 Plan B
							.col-md-6
								h1 $3,000.°°
							.col-md-12
								h4 Coberturas
								h3 - Incendio y / o rayo
								h3 - Terremoto y/o erupción volcánica (Única Cobertura Opcional)
								h3 - Riesgos Hidrometeorológicos
								hr
							.col-md-12
								.col-md-6
									h5 Periodo:
								.col-md-6
									h6 mensual
							.col-md-12
								.col-md-6
									h5 Primer pago:
								.col-md-6
									h6 $ 250.°°
							.col-md-12
								.col-md-6
									h5 11 pagos subsecuentes de:
								.col-md-6
									h6 $ 250.°°
							.col-md-12
								.col-md-6
									h5 Total a pagar:
								.col-md-6
									h6 $ 3,000.°°	
									.space
							.col-md-12.text-center
								button.btn-lg.btn-borde CAMBIAR COTIZACIÓN
								.space
							//.col-md-12.text-center
								button.btn-lg.btn-borde CONTRATAR VIA TELEFÓNICA
					.row.text-center
						.space
						.col-md-12
							button.btn-lg.btn-solid CONTINUAR
		//- button.btn-lg.btn-solid(type='button', data-toggle='modal', data-target='#myModal2') CONTINUAR					
		//- 	// Modal
		//- #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		//- 	.modal-dialog(role='document')
		//- 		.modal-content
		//- 			//.modal-header
		//- 				button.close(type='button', data-dismiss='modal', aria-label='Close')
		//- 					span(aria-hidden='true') ×
		//- 				h4#myModalLabel.modal-title Modal title
		//- 			.modal-body.text-center
		//- 				h4 Te solicitamos que ingreses tu número telefonico y un horario adecuado para contactarte
		//- 				.col-md-12.text-center
		//- 					.col-md-3
		//- 					.col-md-5
		//- 						p.labelgral Número telefonico
		//- 						input#contrata.form-control(type='text' placeholder='55-98-98-98')
		//- 				.col-md-12.text-center
		//- 					.col-md-3
		//- 					.col-md-5
		//- 						p.labelgral Horario a contactar
		//- 						input#contrata.form-control(type='text' placeholder='12:00-16:00')
		//- 				button.btn-lg.btn-borde CONTACTARME
		//- 			//.modal-footer
		//- 				button.btn.btn-default(type='button', data-dismiss='modal') Close
		//- 				button.btn.btn-primary(type='button') Save changes
		.container
			.row
				h2 PAGO DE CONTRATACIÓN
		.container.bgazul2.contrata
			.row
				.col-md-offset-1.col-md-10
					.col-md-6
						h2.subt RESUMEN DE CONTRATACIÓN
					.col-md-5.bgazul5
						.col-md-offset-1.col-md-8
							.col-xs-8
								h6 No. de cotización.
							.col-xs-4.text-right
								h4 123456789A
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 DOMICILIO ASEGURADO
						P.dato.wig Exploradores Tonatiuh No. 304, Col. Alamos, C.p. 034500, Bénito Juárez, CDMX.
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 DATOS DEL CONTRATANTE
			.row
				.col-md-offset-1.col-md-10
					.col-md-4
						p.labelgral Nombre del cliente
						p.dato XRamiréz Ayala Juan LuisX
					.col-md-3
						p.labelgral Correo eléctronico
						p.dato Xjuan@mail.comX
					.col-md-2
						p.labelgral Teléfono
						p.dato X55 16890345X
					.col-md-3
						p.labelgral RFC
						p.dato XRAYU123412MMX		
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 DOMICILIO DEL CONTRATANTE
						P.dato.wig Exploradores Tonatiuh No. 304, Col. Alamos, C.p. 034500, Bénito Juárez, CDMX.
		.container.bgazul3.resumen
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						br
						h4 DETALLE DEL SEGURO DE HOGAR
			.row
				.col-md-offset-1.col-md-10
					.col-md-2
						h1 Plan B
					.col-md-10
						h1 $3,000.°°
			.row
				.col-md-offset-1.col-md-10
					.col-md-3
						h4 Cobertura
						h6 - Incendio y / o rayo
						h6 - Terremoto y/o erupción volcánica (Única Cobertura Opcional)
						h6 - Terremoto y/o erupción volcánica (Única Cobertura Opcional)
						h6 - Riesgos Hidrometeorológicos					
					.col-md-2
						h4 Periodo
						p.dato Mensual
					.col-md-2
						h4 Primer pago
						p.dato $250.00
					.col-md-3
						h4 11 pagos subsecuentes de
						p.dato $250.00
					.col-md-2
						h4 Total a pagar
						p.dato $3,000.00
			.row
				.space
		.container.bgazul5.envioPoliza
			.row
				.col-md-offset-1.col-md-10
					.col-md-8
						h4 Envío de póliza
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h2.subt Selecciona el medio por el cual quieres recibir tu póliza.
			.row
				.col-md-offset-1.col-md-10
					.col-md-2
						input.entregaP(type="radio",id="radioEnvioCe",name='medioRecibo',value='Correo', checked="true")
						label Correo eléctronico
					.col-md-2
						input.entregaP(type="radio",id="radioEnvioD",name='medioRecibo',value='Domicilio')
						label Domicilio
					.col-md-4
						input.entregaP(type="radio",id="radioEnvioPw",name='medioRecibo',value='Consulta')
						label Descargar en
							a(href="www.segurosbancomer.com") www.segurosbancomer.com
					.col-md-4
						input.entregaP(type="radio",id="radioEnvioT",name='medioRecibo',value='SAC')
						label Llamar al Centro de Servicio al Cliente
			.row.envio
				br
				.col-md-offset-1.col-md-10
					.col-md-12
						p ¿El domicilio es el mismo con el que está registrado el inmueble?
					.row
						.col-md-12
							.col-md-1
								input#rInmS(type="radio",name='registro',value='Si')
								label Si
							.col-md-1
								input#rInmN(type="radio",name='registro',value='No')
								label No
					.row
						.col-md-5
							.col-md-6
								.form-group
									label A partir de las
									select#horaC.form-control
										option(value="opcion-1",name='') 11:30
										option(value="opcion-2",name='') 12:00
										option(value="opcion-3",name='') c
										option(value="opcion-4",name='') d
							.col-md-6
								.form-group
									label Hasta las
									select#horaF.form-control
										option(value="opcion-1",name='') 17:00
										option(value="opcion-2",name='') 16:30
										option(value="opcion-3",name='') c
										option(value="opcion-4",name='') d
						.col-md-6
							.col-md-8
								.form-group
									label Detalle (Entre que calles se encuentran)
									input#dCalles.form-control(type="textarea",placeholder="Entre Pianini y Motolinia",nombre="dCalles")
		.container.bgwhite
			.space
			form
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							h4 COMPRAR
				.row
					.col-md-offset-1.col-md-10
						.col-md-12
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
							span.acepto Acepto los	
								a(target="_BLANK",href="#") Términos y condiciones
				.row
					br
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Forma de pago
								select.acepto1#formaP.form-control(disabled='')
									option(value="0",nombre='')
									option(value="1",nombre='') TDC
									option(value="2",nombre='') CCB
									option(value="3",nombre='') c
									option(value="4",nombre='') d	
						.col-md-4.tdc.ccb
							.col-md-10
								p.labelgral Nombre del titular*
								input.acepto1#contrata.form-control(type='text' placeholder='Escribe tu nombre',nombre='',disabled='')
						.col-md-4.tdc
							.col-md-10
								p.labelgral Tipo de tarjeta*
								select.acepto1.form-control(disabled='')
									option(value="opcion-1",nombre='') VISA
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
						.col-md-4.ccb
							.col-md-10
								p.labelgral Número de la cuenta
									span.fp (20 digitos)*
								input.acepto1#contrata.form-control(type='text' placeholder='12312341234234123',nombre='',disabled='')
				.row.tdc
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Número de tarjeta*
									span.fp (16 digitos)
								input.acepto1#contrata.form-control(type='text' placeholder='12312341234234123',nombre='',disabled='')
						.col-md-3
							.col-md-10
								p.labelgral CVV*
									span.ayuda.azul(data-toggle='tooltip', data-placement='right', title='Ultimos digitos al reverso de tu tarjeta',class="naranja-tooltip")

								input.acepto1#contrata.form-control(type='text' placeholder='000',nombre='',disabled='')
						.col-md-4
							.col-md-12
								p.labelgral Fecha de vencimiento*
							.col-md-4
								select.acepto1#fechaVenc.form-control(disabled='')
									option(value="opcion-1",nombre='') 06
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
							.col-md-6
								select.acepto1.form-control(disabled='')
									option(value="opcion-1",nombre='') 2019
									option(value="opcion-2",nombre='') b
									option(value="opcion-3",nombre='') c
									option(value="opcion-4",nombre='') d
						.col-md-5.tdc
							.col-md-12
								p.labelgral Tarjeta
							.col-md-4
								input.acepto1#tarjBbva(type="radio",name='tarjeta',value='BBVA', checked="")
								label Bancomer
							.col-md-8
								input.acepto1#tarjOther(type="radio",name='tarjeta',value='No',disabled='')
								label Otros bancos
						.col-md-7.tdc1
							.col-md-12
								p.labelgral Meses sin intereses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='3', checked="",disabled='')
								label 3 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='6',disabled='')
								label 6 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='9',disabled='')
								label 9 meses
							.col-md-3
								input.acepto1(type="radio",name='meses',value='12',disabled='')
								label 12 meses
				.row.ccb
					.col-md-offset-1.col-md-10
						.col-md-4
							.col-md-10
								p.labelgral Institución bancaria*
								input.acepto1#contrata.form-control(type='text' placeholder='Banamex',nombre='')
				.row
					br
					.col-md-offset-1.col-md-10
						.col-md-6.text-right
							button.btn.lg.btn-borde REGRESAR
						.col-md-6.text-left
							button.btn.lg.btn-solid PAGAR


		hr
		h1 poliza
		.container.bgazul1.poliza
			.row
				.exito
				.space
			.row
				.col-md-offset-1.col-md-10
					.col-md-12.text-center
						h2 ¡FELICIDADES XXXXXXX XXXX!
			.row
				.col-md-offset-1.col-md-10
					.col-md-12.text-center
						h3 ¡Has contratado tu seguro 
							span.verde exitosamente!
			.row
				.col-md-offset-1.col-md-10
					.col-md-12.text-center
						h4 Tu póliza se ha generado de manera correcta, la cual será enviada a tu domicilio seleccionado.
						br
			.row
				.col-md-offset-1.col-md-10
					.space
					.col-md-12.text-center
							p
								span.bgazul4 No. PÓLIZA: 
									strong 24689012
			.row
				.space
				.space
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						.col-md-1.text-right.info
							img(src="../assets/img/ico_aviso.png", alt="")
						.col-md-11
							h5 Aplican restricciones y exlusiones, para dudas y aclaraciones, ingresa a www.segurosbancomer.com o llama al Centro de Servicio al Cliente: CDMX y zona metropolitana 11020000, interior de la República (0155) 11020000
			.space
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10.bgazul7
					.space
					.col-md-1.text-right
						img(src="../assets/img/ico_comprobante.png", alt="")
					.col-md-11
						h6 Se ha generado tu comprobante de compra, el cual de manera automática se ha enviado al mail que registraste: 
							strong ana00@gmail.com
					.col-md-11
						.space
			.row
				.space
				.col-md-12.text-center
					button.btn-lg.btn-solid DESCARGAR PDF
				.space
				.space
		hr

	script(src="http://code.jquery.com/jquery.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="../js/app.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")