doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de...
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet",href="style.css")
	body
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-offset-1.col-md-2.step.active
						p.text-center
							span 1
						h3.text-center registro
					.col-md-2.step
						p.text-center
							span 2
						h3.text-center cotiza
					.col-md-2.step
						p.text-center
							span 3
						h3.text-center cuestionario
					.col-md-2.step
						p.text-center
							span 4
						h3.text-center contrata
					.col-md-2.step
						p.text-center
							span 5
						h3.text-center póliza
		hr
		h1 registro
		h2.subtitulo ingreso de datos
		.bggris
			.container
				form
					.row
						.col-md-12
							p Para conocer la opción de Hogar que tenemos para ti, por favor completa los siguientes campos:
							h4 Datos personales
					
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Nombre')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Correo electrónico')					
					.row
						.col-md-12
							h4 Domicilio

					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Calle')
						.col-md-2
							input#nombre.form-control(type='text', placeholder='No.Ext')
						.col-md-2
							input#nombre.form-control(type='text', placeholder='No.Int')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='C.P.*')
					.row
						.col-md-4
							select.form-control
								option(value="opcion-1") Elige tu colonia
								option(value="opcion-2") b
								option(value="opcion-3") c
								option(value="opcion-4") d
								option(value="opcion-5") e
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Delegación/Municipio')
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Ciudad')
					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Estado')
					.row
						.col-md-12
						h4 Suma asegurada
						.col-md-4
							select.form-control
								option(value="opcion-1") Elige la suma asegurada
								option(value="opcion-2") b
								option(value="opcion-3") c
								option(value="opcion-4") d
								option(value="opcion-5") e
					.row
						.col-md-12.text-center
							button cotizar

		hr
		h1 cotiza
		h2.subtitulo COTIZACIÓN
		.bggris
			.container
				form
					.row
						.col-md-12
							p
								strong Hola XXXXXX
								, ésta es la mejor opción que encontramos para tí:
					.row
						.col-md-4
							.col-md-10
								.bqplanes.text-center
									h3 Plan A
									h3.text-left Cobertura
									ul
										li -.-.-.-.
										li -.-.-.-.
										li -.-.-.-.
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option1')
										|	Con terremoto
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option2')
										|	Sin terremoto

						.col-md-4
							.col-md-10
								.bqplanes.text-center
									h3 Plan B
									h3.text-left Cobertura
									ul
										li -.-.-.-.
										li -.-.-.-.
										li -.-.-.-.
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option1')
										|	Con terremoto
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option2')
										|	Sin terremoto
								
						.col-md-4
							.col-md-10
								.bqplanes.text-center
									h3 Plan PLUS
									h3.text-left Cobertura
									ul
										li -.-.-.-.
										li -.-.-.-.
										li -.-.-.-.
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option1')
										|	Con terremoto
								.radio.text-center
									label
										input(type='radio',name='terremoto',value='option2')
										|	Sin terremoto

					.row
						.col-md-12
							.col-md-3.text-right
								h4 Pagos por prima:
								h6 Elige el plan que más te interesa
							.col-md-9
								
							
					.row
						.col-md-4
							input#nombre.form-control(type='text', placeholder='Estado')
					.row
						h4 Suma asegurada
						.col-md-4

		hr
		h1 cuestionario

		hr
		h1 contrata

		hr
		h1 poliza

		hr

	script(src="http://code.jquery.com/jquery.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")